---
import CenterUnderline from "./CenterUnderline.astro";
import ComesInGoesOutUnderline from "./ComesInGoesOutUnderline.astro";
import GoesOutComesInUnderline from "./GoesOutComesInUnderline.astro";
---

<footer
  class="w-full min-h-screen flex flex-col items-center justify-center bg-white"
>
  <div
    class="flex flex-row font-overused-grotesk items-start text-[#0015ff] h-full py-36 uppercase space-x-8 text-sm sm:text-xl md:text-2xl lg:text-3xl"
  >
    <div>Contact</div>
    <ul class="flex flex-col space-y-1 h-full">
      <a href="#" class="hover:opacity-80">
        <CenterUnderline label="LINKEDIN" />
      </a>
      <a href="#" class="hover:opacity-80">
        <ComesInGoesOutUnderline label="INSTAGRAM" direction="right" />
      </a>
      <a href="#" class="hover:opacity-80">
        <ComesInGoesOutUnderline label="X (TWITTER)" direction="left" />
      </a>

      <div class="pt-12">
        <ul class="flex flex-col space-y-1 h-full">
          <a href="#" class="hover:opacity-80">
            <GoesOutComesInUnderline label="FANCY@FANCY.DEV" direction="left" />
          </a>
          <a href="#" class="hover:opacity-80">
            <GoesOutComesInUnderline
              label="HELLO@FANCY.DEV"
              direction="right"
            />
          </a>
        </ul>
      </div>
    </ul>
  </div>
</footer>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Overused+Grotesk:wght@400;500;600;700&display=swap");

  .font-overused-grotesk {
    font-family: "Overused Grotesk", sans-serif;
  }
</style>
